html {
  font-family: "Times New Roman";
}

h1, a {
  color: black;
}

h2 {
  color: black  ;
}

article p {
  text-align: justify;
}

header {
  background-color: #ff6666 ;
  padding: 1px 0 30px 0;
}

header #title {
  padding: 20px;
}

#menu {
  display: inline;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #ff6666;
}

#menu li {
  float: left;
}

#menu li a{
  display: block;
  color:black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover{
  background-color: white;
}
footer {
  padding: 15px 15px;
  background-color:#ff6666;
}

body {
  margin: 0 auto;
}

figure {
  margin: 30px;
}

figure img {
  width: 300px;
}

#content-wrap {
  padding: 5px;
}

#more {
  font-weight: bold;
  background-color: yellowgreen;
  padding: 10px;
  font-size: 18px;

  cursor: pointer;
}

#more:hover {
  background-color: green;
}

#more-content {
  background: #bbbbbb;
  padding: 10px;
}

#mail {
  width: 300px;
}

#submit {
  margin-top: 10px;
}

cite {
  font-size: 70%;
}

.error {
  display: inline-block;
  background-color: white;
  border: 1px red solid;
  color: red;
  padding: 3px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.current_page {
  font-weight: bold;
  border-color: black;
  border-style: solid;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.bold {
  font-weight: bold;
  font-size: 100%;
}
.small {
  max-width: 200px;
  max-height: 200px;
}

.order {
  margin: 5px;
  list-style: none;
  text-align: right;
}

.order input {
  margin-left: 5px;
  display: inline;
}

#order_note {
  font-size: 80%;
  display: block;
  padding-left: 15px;
}

#current_img{
  display: block;
  height: 200px;
}

.button {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form_error {
  color: red;
}

.indented {
  padding-left: 10pt;
  padding-right: 10pt;
}

.center_text{
  text-align: center;
}

.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-style: solid;
    width: 32%;
    padding: 3px;
}

.container div {
  width: 100px;
  height: 100px;
}

.box{
  display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-style: solid;
    width: 23%;
    padding: 3px;
}

.margin_top{
  margin-top: 1px;
}

.margintop{
  margin-top: 5px;
}

.left_text{
  text-align: left;
}
